[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
epc = "*"
flake8 = "*"
autopep8 = "*"
mypy = "*"
black = "*"

[packages]
toml = "*"
pandas = "*"
zenhan = "*"
xlrd = "*"
numpy = "*"
csv-diff = "*"
openpyxl = "*"
types-toml = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
